.spacer1 {
    position: relative;
    align-content: center;
    justify-content: center;
   margin: 0 auto;
    width: 50%;
    float: right;
    margin-top: -80px;
}

.spacer2 {
    position: relative;
   margin-top: -80px;
    width: 50%;
    float: right;
}

.planet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40%;
}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 45%;
    margin-left:  50px;
    margin-top: 30px;
}

.flag2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 45%;
    margin-right: -30px;
    margin-top: -40px;
}

.spacer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 90px;
}

.spacer4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    margin-top: 40px;
}